body {
  font-family: monospace;
  background-color: #f2f2f2;
}

.login-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 36px;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #666;
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type='email'] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(26, 182, 104, 0.3);
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #3680c5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.2s;
  font-family: monospace;
}

button:hover {
  background-color: #85afcc;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

a{
  text-decoration: none;
  font-family: monospace;
  color: #3680c5; 
}