/* Estilos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
/* Estilos para o cabeçalho */
header {
    background-color: #356feb;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(34, 132, 189, 0.3);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1e8cbe;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
background-color: #5b61bd;
}

/* Estilos para a tabela */
#tabela-tarefas {
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#tabela-tarefas th,
#tabela-tarefas td {
    padding: 10px;
    border: 1px solid #ccc;
}

#tabela-tarefas th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#tabela-tarefas tr:hover {
    background-color: #f2f2f2;
}
